#fundo
{
    background: #1b6d85;
}

#div-borda-login
{
    height:420px;
    margin-top: 80px;
    background: white;
    border-radius: 8px; 
}

#texto-titulo-login
{
    margin-left: 30px;
    color: #269abc;
    font-weight: 500;
}

#titulo-div-borda-login
{
    position: absolute;
    width: 100%;
    height: 60px;
    background: whitesmoke;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid whitesmoke;
    margin-left: -15px;
    padding-bottom: 50px;
}

#formulario
{
    padding-top: 80px;
}

#btLogin
{
    margin-top: 20px;
}

#toast
{
    border: solid 1px black;
    background: black;
    border-radius: 4px 4px 4px 4px;
    margin-top: -80px;
    height: 21px; 
    display: none;
}

#texto-toast
{
    color: white;
    font-weight: 300;
}

#titulo-nav-home-pdv
{
    font-size: 140%;
    color:#269abc;
}

#div-container
{
   margin-top: 70px;
  
}

.bloco1, bloco2{ padding: 5%; }

#borda-logo-empresa
{
    border: solid 1px whitesmoke;
    border-radius: 4px 4px 4px 4px; 
    height: 100px; 
    background:  whitesmoke;
}

#div-produtos
{
    border: solid 1px whitesmoke;
    border-radius: 4px 4px 4px 4px; 
    height: 100px; 
    background:  whitesmoke;
}