/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2016, 22:03:40
    Author     : emers
*/


/* Mascaras de Inputs */
.mask-telefone{}
.mask-celular{}
.mask-cep{}

.tab-veiculos-col-veiculo
{
    width: 250px;
}

.campo-btn-busca
{
    height: 35px;
}

/* PP Personalização Pessoal */

.pp-01 {
    height: 35px;
}
.pp-02 {
    background: #eee;
    margin-bottom: 20px;
}

/* CSS geral do site */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.table-overflow {
    max-height:310px;
    overflow-y:auto;
}
.overflow-310 {
    max-height:310px;
    overflow-y:auto;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
#corpo-form-transportadora
{
    margin-top: -30px;
}
#transportador
{
    margin-right: -14px;
}
#usuario
{
    margin-right: -15px;
}

#img-preview
{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.modal-open .modal .modal-centralizado {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}
